<div class="verLeads">
    <p class="title">Inventario disponible</p>
    <table>
        <thead>
          <tr>
            <th>Lote</th>
            <th>Prototipo</th>
            <th>Precio de venta</th>
            <th>Medidas</th>
            <th>Colindancia</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inv of arrInventarios">
            <td>{{inv.lote}}</td>
            <td>{{inv.lote}}</td>
            <td>{{inv.lote}}</td>
            <td>{{inv.lote}}</td>
            <td>{{inv.lote}}</td>
         
          </tr>
          
        </tbody>
      </table>

    
</div>

