.header{
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    border-bottom: 3px solid var(--naranja);
    padding: 10px;
    display: flex;
}

.header .h_logo{
    width: 7.5rem;
    height: 2.18rem;
}

.header .h_logo img{
    width: 100%;
    height: 100%;
}

.header .h_logo img:hover{
    cursor: pointer;
}


.h_menu{
    width: 100%;
    margin: 0px 50px;
    display: flex;
   
    align-items: center;
}

.h_menu .h_menu_opt{
    margin: 0px 1rem;
    font-size: 12px;
    cursor: pointer;
}


.h_menu .h_menu_opt:hover{
  color: var(--naranja);
}



.h_acc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}


.h_acc:hover{
    color: var(--naranja);
    cursor: pointer;
}




