<div class="header">
    <div class="h_logo">
        <img src="../../../assets/img/dasHausLogo_b.png">
    </div>



    <div class="h_menu" *ngIf="userType == 1">
        <div class="h_menu_opt">
            <p (click)="hacerSeleccion('Dashboard')">Dashboard</p>
        </div>
        <div class="h_menu_opt">
            <p (click)="hacerSeleccion('Leads')">Leads</p>
        </div>
        <div class="h_menu_opt">
            <p (click)="hacerSeleccion('Estadisticas')">Estadisticas</p>
        </div >
        <div class="h_menu_opt">
            <p (click)="hacerSeleccion('Administrar')">Administrar</p>
        </div>
    </div>


    <div class="h_menu" *ngIf="userType == 2">
        <div class="h_menu_opt">
            <p>Tesorero</p>
        </div>
        
    </div>

    <div class="h_menu" *ngIf="userType == 3">
        <div class="h_menu_opt">
            <p>Tecnico</p>
        </div>
        
    </div>

    <div class="h_menu" *ngIf="userType == 4">
        <div class="h_menu_opt">
            <p>Leads</p>
        </div>
        
    </div>




    <div class="h_acc">
         Login
    </div>
</div>