.loginForm{
    // width: 65vw;
    width: 100%;
    height: 100vh;
    
    display: flex;
    // margin: 5rem 0rem;
   
}


.lF_form{
    width: 25%;
    display: flex;
    flex-direction: column;
    
    font-size: 20px;
    color: var(--gris);
    background-color: var(--blanco);
    text-align: center;
    margin-top: 30vh;
}

.lF_form input{
    padding: 2px;
    border: none;
    outline: none;
}


.lF_img{
  flex: 1;
  width: 75%;
  background-color: var(--azul-oscuro);
  display: flex;
  justify-content: center;
  align-items: center;
}


.lF_img img {
    width: 50%;
   
}




.ln-white{
    outline: none;
    border: none;
    color: var(gris);
    background-color: rgb(233, 233, 233);
    padding: 5px !important;
    transition: all ease 0.3s;
    outline: 1px solid var(--gris-claro)!important;
}

.ln-white:focus{
    outline: 1px solid rgb(32, 74, 180) !important;
}



.lF_button button {
    background-color: var(--naranja);
    padding:5px 25px;
    border: none;
}


.lF_button button:hover {
    background-color: var(--naranja-oscuro);
    color: var(--blanco);
    cursor: pointer;
}