
<div class="flex-c">
    <div class="loginForm ">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  class="lF_form  ">
            <div>
                <p>Inicio de sesión</p>
            </div>
            <br>
            <div  >
                <p></p>
                    <input formControlName="username" class="w-75 ln-white" placeholder="Usuario">
            </div>
            <br>
            <div  >
                    <input formControlName="password" class="w-75 ln-white" placeholder="Contraseña" type="password">
            </div>
            <br>
            <div class="lF_button" >
                <button type="submit" >Acceder</button>
            </div>
        </form>

        <div class="lF_img">
            <img src="../../../../assets/img/5.png">
        </div>



        
    </div>
</div>
  



