<form class="registerLead">
    <p class="title">Registrar lead</p>
    <br>
    <div>
        <p>Nombre del lead</p>
        <input class="input_style_1 w-75">
    </div>
    <br>
    <div>
        <p>Origen del lead</p>
        <input class="input_style_1 w-75">
    </div>
    <br>
    <div>
        <p>Correo electrónico</p>
        <input class="input_style_1 w-75">
    </div>
    <br>
    <div>
        <p>Número</p>
        <input class="input_style_1 w-75">
    </div>
    <br>
    <div>
        <p>Modelo de casa a seleccionar</p>
        <input class="input_style_1 w-75">
    </div>
    <br>
    <div>
        <p>Status del lead</p>
        <input class="input_style_1 w-75">
    </div>
    <br>
    <div style="display: flex; justify-content: space-between;" class="w-75">
       
        <div style="margin-left: auto;" class="btn-style-1">Registrar lead</div>
    </div>
      
    
    <!-- <div  class="flex-col-c w-75 form">
      

    </div> -->
</form>