<form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" class="registerLead">
    <p class="title">Registrar usuario</p>
    <br>
    <div>
        <p>Nombre</p>
        <input class="input_style_1 w-75" formControlName="username">
    </div>
    <br>
    <div>
        <p>Contraseña</p>
        <input class="input_style_1 w-75" type="password" formControlName="password">
    </div>
    <br>
    <div>
        <p>Tipo de usuario</p>
        <select class="input_style_1 w-75" formControlName="type">
            <option *ngFor="let option of tiposusuario" [value]="option">{{ option }}</option>
        </select>
    </div>
    <br>
    <div style="display: flex; justify-content: space-between;" class="w-75">
        <button type="submit" class="btn-style-1">Registrar usuario</button>
    </div>
</form>