.sidebar{
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 215, 215);
    color: rgb(58, 58, 58);
    width: 15vw;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}


.sidebar div{
    padding: 5px;
}

.sidebar_opt{
    display: flex;
   
    align-items: center;

    
}

.sidebar_opt:hover{
    background-color: rgb(103, 103, 103);
    color: rgb(204, 204, 204);
    cursor: pointer;
}

