<div class="sidebar" *ngIf="seleccion.includes('Administrar')">
    <div class="sidebar_opt" [routerLink]="['/dashboard/listaUsuarios']">
        <div><i class="fa-solid fa-users" ></i></div>
        <div>Ver usuarios</div>
    </div>
    <div class="sidebar_opt" [routerLink]="['/dashboard/registerForm']">
        <div><i class="fa-solid fa-user-plus" ></i></div>
        <div>Añadir usuario</div>
    </div>
    <div class="sidebar_opt" >
        <div><i class="fa-solid fa-user-pen"></i></div>
        <div>Editar usuario</div>
    </div>
    <div class="sidebar_opt">
        <div><i class="fa-solid fa-user-xmark"></i></div>
        <div>Eliminar usuario</div>
    </div>
</div>

<div class="sidebar" *ngIf="seleccion.includes('Leads')">
    <div class="sidebar_opt" [routerLink]="['/dashboard/registerLead']">
        <i class="fa-solid fa-arrow-up-right-dots"></i>
        <div >Registrar lead</div>
    </div>
    <div class="sidebar_opt" [routerLink]="['/dashboard/verLeads']">
        <i class="fa-regular fa-address-card" ></i>
        <div >Status de leads</div>
    </div>
    
</div>

