<div class="sidebar">
    <div class="sidebar_opt">
        <div><i class="fa-solid fa-users"></i></div>
        <div>Ver usuarios</div>
    </div>
    <div class="sidebar_opt">
        <div><i class="fa-solid fa-user-plus"></i></div>
        <div>Añadir usuario</div>
    </div>
    <div class="sidebar_opt">
        <div><i class="fa-solid fa-user-pen"></i></div>
        <div>Editar usuario</div>
    </div>
    <div class="sidebar_opt">
        <div><i class="fa-solid fa-user-xmark"></i></div>
        <div>Eliminar usuario</div>
    </div>
</div>