<div class="verLeads p-2">
    <p class="title">AMORTIZACIÓN</p>
    <p class="txt-c">INFORMACIÓN DEL LOTE</p>
    <table>
        <thead>
          <tr>
            <th>Precio</th>
            <th>m2</th>
            <th>Costo p/m2</th>
            <th>Enganche</th>
            <th>Precio</th>
            <th>Plazo</th>
            
          </tr>
        </thead>
        <tbody>
          <tr >
            <td><input style="width: 100%;height: 100%;"></td>
            <td><input style="width: 100%;height: 100%;"></td>
            <td><input style="width: 100%;height: 100%;"></td>
            <td><input style="width: 100%;height: 100%;"></td>
            <td><input style="width: 100%;height: 100%;"></td>
            <td><input style="width: 100%;height: 100%;"></td>
          </tr>
          
        </tbody>
    </table>
    <br>
    <p class="txt-c">ENGANCHE</p>
    <table>
        <thead>
          <tr>
            <th>Periodo</th>
            <th>Pago</th>
            <th>Fecha de pago</th>
            <th>Interés</th>
            <th>Capital Amortizado</th>
            <th>Saldo al final del periodo</th>
            
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          
        </tbody>
    </table>
    <br>
    <p class="txt-c">MENSUALIDADES</p>
    <table>
        <thead>
          <tr>
            <th>Periodo</th>
            <th>Pago</th>
            <th>Fecha de pago</th>
            <th>Interés</th>
            <th>Capital Amortizado</th>
            <th>Saldo al final del periodo</th>
            
          </tr>
        </thead>
        <tbody>
          <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         
          </tr>
          
        </tbody>
    </table>


    
</div>

